*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Lora", serif;
    color: #000;
    font-size: 14px;
    line-height: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    &,
    li {
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
    }
}

a {
    display: inline-block;
    color: #000;
    outline: none;
    text-decoration: none;
}

.document-wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn-click {
    border-radius: 34px;
    background: linear-gradient(180deg, #3a99e7 0%, #0070b1 99.66%);
    font-family: $nunito;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    outline: none;
    text-shadow: 1px 1px 2px #004d7a;
    border-bottom: 3px solid $darkBlue;
    color: #ffffff;
    padding: 16px 40px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::before{content:"";position:absolute;height:150px;width:20px;background:rgba(255,255,255,0.7);-webkit-box-shadow:0 0 5px #fff;box-shadow:0 0 5px #fff;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);top:-40px;left:-100px;-webkit-animation:btn-blick 6s ease infinite;animation:btn-blick 6s ease infinite; z-index: 2;}
    &__wrapper {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background: #004d7a;
            filter: blur(25px);
            border-radius: 34px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 57%;
            z-index: 0;
        }
    }
    &:hover {
        border-bottom: 2px solid $darkBlue;
        margin-top: 1px;
    }
    &:active {
        border-bottom: 1px solid $darkBlue;
        margin-top: 2px;
    }
}

.messenger:hover{
    animation: messenger .3s ease;
}

.phone{
    transition: color .2s ease;
    &:hover{
        color: #FF4D00;
    }
}

.module {
    display: none;
}

.close {
    position: absolute;
    width: 21px;
    height: 21px;
    cursor: pointer;
    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 29px;
        width: 2px;
        border-radius: 10px;
        left: 50%;
        top: 50%;
        background: #000;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.mfp-img {
    width: 1000px !important;
}
@keyframes messenger{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-20deg);
    }
    75%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes gallery{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(10px);
        opacity: 0;
    }
}
@keyframes btn-blick{0%{left:-50px}20%{left:350px}100%{left:350px}}