@media (max-width: 1880px) {
    .process__img {
        &-2 {
            right: 0;
        }
    }
}

@media (max-width: 1830px) {
    .process {
        &__img {
            &-2 {
                right: -160px;
            }
        }
    }
    .right-tree {
        width: 270px;
    }
}

@media (max-width: 1670px) {
    .right-tree {
        display: none;
    }
}

@media (max-width: 1640px) {
    .process {
        &__img {
            &-1 {
                left: 0;
            }
        }
    }
}

@media (max-width: 1500px) {
    .process {
        &__img {
            &-2 {
                width: 700px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .main {
        padding-bottom: 230px;
    }
    .header {
        margin-bottom: 51px;
        &__location {
            min-height: 65px;
            &-city {
                font-size: 18px;
                line-height: 23px;
            }
            &-street {
                font-size: 14px;
                line-height: 19px;
            }
            &::before {
                top: 5px;
            }
        }
        &__com {
            &-phone {
                font-size: 18px;
                line-height: 23px;
            }
            &-email {
                font-size: 14px;
                line-height: 19px;
            }
            &::before {
                top: 6px;
            }
        }
        .logo img {
            width: 115px;
        }
    }
    .menu {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 92px;
    }
    .main-content {
        &__title {
            font-size: 30px;
            line-height: 36px;
            max-width: 485px;
        }
        &__text {
            font-size: 18px;
            line-height: 23px;
            max-width: 340px;
            margin-bottom: 50px;
        }
        &__list {
            max-width: 445px;
            margin-bottom: 27px;
        }
        &__item {
            font-size: 14px;
            line-height: 19px;
            padding-left: 35px;
            margin-bottom: 23px;
        }
        &__btn {
            padding: 12px 38px;
        }
    }
    .services {
        &__list {
            font-size: 14px;
            line-height: 19px;
            max-width: 640px;
            &-item {
                margin-bottom: 18px;
                max-width: 254px;
            }
        }
    }
    .projects {
        &__title {
            font-size: 30px;
            line-height: 36px;
        }
    }
    .parsing {
        &__title {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 50px;
        }
    }
    .gallery {
        &__title {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 50px;
        }
    }
    .process {
        margin-top: 40px;
        &__wrapper {
            padding-top: 80px;
        }
        &__title {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 50px;
        }
        &__inner {
            margin-bottom: 20px;
        }
        &__btn {
            padding: 14px 47px;
        }
        &__img {
            &-1 {
                width: 440px;
            }
            &-2 {
                right: -240px;
            }
        }
    }
    .reviews {
        &__title {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 50px;
        }
        &__item-name {
            font-size: 20px;
            line-height: 27px;
            max-width: 390px;
        }
        &-prev {
            img {
                right: 20px;
                top: 16px;
            }
        }
        &-next {
            img {
                top: 16px;
                left: 20px;
            }
        }
        .slick-arrow {
            width: 55px;
            height: 55px;
        }
    }
    .progress {
        &__title {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 1290px) {
    .process {
        &__img {
            &-2 {
                width: auto;
                height: 300px;
                bottom: 30px;
            }
        }
    }
}

@media (max-width: 1279px) {
    .gallery {
        &__container{
            max-width: 965px;
        }
    }
}

@media (max-width: 1240px) {
    .process {
        &__img {
            &-1 {
                left: -50px;
            }
        }
    }
}

@media (max-width: 1165px) {
    .process {
        &__inner {
            &::before {
                background-size: contain;
                width: 1000px;
                height: 465px;
                background-repeat: no-repeat;
            }
        }
    }
}

@media (max-width: 1085px) {
    .progress {
        &__inner {
            max-width: 950px;
            margin: 0 auto;
        }
        &__row-full {
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 40px;
            .progress__item {
                margin-bottom: 40px;
            }
            .progress__item:nth-child(2) {
                margin-left: 20px;
            }
            .progress__item:nth-child(3) {
                margin: 0;
            }
        }
        &__row {
            justify-content: space-between;
            .progress__item:nth-child(2) {
                margin-left: 40px;
            }
        }
    }
}

@media (max-width: 1080px) {
    .process {
        &__img {
            img {
                width: auto;
                height: 100%;
            }
            &-1 {
                width: auto;
                height: 300px;
            }
        }
    }
}

@media (max-width: 1060px) {
    .first-wrapper {
        background: none;
    }
    .services {
        &__inner {
            margin-bottom: 40px;
            &::before {
                width: 700px;
                top: 100px;
            }
        }
        &__row {
            &-main {
                flex-wrap: wrap;
                margin-bottom: 20px;
                justify-content: center;
                .services__item {
                    &-wrapper {
                        max-width: 325px;
                    }
                    min-height: 176px;
                    padding: 38px 0 0 38px;
                    &-name {
                        max-width: 143px;
                        font-size: 18px;
                        line-height: 23px;
                        margin-bottom: 28px;
                    }
                    img {
                        max-width: 139px;
                    }
                }
                .services__item-wrapper + .services__item-wrapper {
                    margin-left: 30px;
                }
            }
            &-secondary {
                justify-content: center;
                flex-wrap: wrap;
                .services__item {
                    padding: 38px 0 0 38px;
                    margin-bottom: 20px;
                }
                .services__item-wrapper + .services__item-wrapper {
                    margin-left: 30px;
                }
            }
        }
    }
    .parsing {
        &__item {
            flex-direction: column;
            align-items: center;
            padding-top: 65px;
            &-images {
                margin-bottom: 30px;
            }
        }
        &-dots {
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            display: flex;
            justify-content: center;
            button {
                font-size: 18px;
                line-height: 23px;
                width: 45px;
                height: 45px;
            }
        }
    }
    .gallery__title {
        padding-left: 25px;
    }
}

@media (max-width: 1000px) {
    .projects {
        position: relative;
        padding-bottom: 93px;
        &__inner {
            flex-direction: column;
        }
        &__content {
            padding: 0 40px;
            display: flex;
            flex-direction: column;
        }
        &__btn {
            &-wrapper {
                position: absolute;
                bottom: 0;
                left: calc(50% - 122px);
            }
        }
        &__select {
            position: relative;
            width: 100%;
            border: 2px solid #3a99e7;
            border-radius: 20px;
            font-family: $nunito;
            font-weight: 600;
            cursor: pointer;
            display: block;
            font-size: 14px;
            padding: 10px 10px 11px 30px;
            line-height: 19px;
            color: #3a99e7;
            &.active {
                &::before {
                    transform: translateY(-50%) rotate(-180deg);
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(0);
                transition: all .3s ease;
                background-image: url(../img/arrow-projects.png);
                width: 18px;
                height: 9px;
                right: 15px;
            }
        }
        &__list {
            &-wrapper {
                align-self: center;
                position: relative;
                max-width: 300px;
                width: 100%;
                margin-bottom: 60px;
            }
            position: absolute;
            display: none;
            top: 100%;
            z-index: 5;
            background: #fff;
            left: 0;
            border: none;
            width: 100%;
            border-radius: 10px;
            font-size: 14px;
            line-height: 19px;
            padding-top: 0;
            padding-bottom: 0;
            &-item {
                &:nth-child(1) a {
                    border-top: 1px solid transparent;
                }
                &:last-child a {
                    border-bottom: 1px solid transparent;
                }
                padding-left: 10px;
                padding-right: 10px;
                &.active {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        &__box {
            align-self: center;
        }
    }
}

@media (max-width: 964px) {
    .gallery {
        &__container{
            max-width: 650px;
        }
    }
} 

@media (max-width: 950px) {
    .process {
        &__inner {
            justify-content: center;
            &::before {
                width: 784px;
                height: 362px;
            }
        }
        &__item-wrapper {
            margin-right: 30px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 930px) {
    .menu {
        &__item {
            & + & {
                padding-left: 50px;
            }
        }
    }
    .sales {
        &-prev {
            left: 41%;
        }
        &-next {
            right: 41%;
        }
    }
}

@media (max-width: 900px) {
    .reviews {
        &__item {
            max-width: 585px;
            &-name {
                margin-bottom: 20px;
            }
            &-media {
                max-width: 450px;
                img {
                    height: 210px;
                }
            }
            &-circle {
                width: 80px;
                height: 80px;
                &::before {
                    width: 60px;
                    height: 60px;
                }
                &::after {
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 23px;
                }
            }
        }
        &-prev {
            img {
                right: 16px;
                top: 13px;
            }
        }
        &-next {
            img {
                left: 16px;
                top: 13px;
            }
        }
        .slick-arrow {
            width: 45px;
            height: 45px;
            img {
                width: 16px;
            }
        }
    }
    .footer {
        .logo {
            img {
                width: 120px;
            }
        }
    }
}

@media (max-width: 870px) {
    .progress {
        &__inner {
            max-width: 471px;
        }
        &__row {
            flex-direction: column;
            &-full {
                margin-bottom: 30px;
                .progress__item {
                    margin-bottom: 0;
                }
            }
            .progress__item:nth-child(2) {
                margin: 0;
            }
            .progress__item + .progress__item {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 860px) {
    .process {
        &__img {
            &-1 {
                height: 270px;
                left: -158px;
            }
            &-2 {
                height: 270px;
                bottom: 65px;
                right: -245px;
            }
        }
    }
}

@media (max-width: 830px) {
    .footer {
        .container {
            max-width: 420px;
        }
        &__inner {
            position: relative;
            padding-bottom: 80px;
        }
        &__content {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

@media (max-width: 768px) {
    .main {
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: relative;
        padding-bottom: 0;
        margin-bottom: 70px;
        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            width: 110%;
            height: 105px;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
            filter: blur(10px);
        }
        .container {
            max-width: 500px;
        }
    }
    .header {
        margin-bottom: 46px;
        position: relative;
        &__wrapper {
            &.fixed {
                position: fixed;
                top: 0;
                display: flex;
                justify-content: center;
                width: 100%;
                background: #ffffff;
                z-index: 10;
                left: 0;
                .header {
                    width: 100%;
                    padding: 15px;
                    margin: 0;
                    max-width: 500px;
                }
            }
        }
        &__location {
            display: none;
        }
        &__com {
            display: none;
        }
        &__menu-btn {
            display: block;
            cursor: pointer;
            div {
                width: 33px;
                height: 3px;
                background: #004d7a;
                border-radius: 10px;
            }
            div + div {
                margin-top: 6px;
            }
        }
        .logo {
            img {
                width: 100px;
            }
        }
    }
    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 312px;
        padding: 74px 34px 30px 20px;
        background: #ffffff;
        z-index: 10;
        height: 100%;
        overflow-y: auto;
        transform: translateX(110%);
        transition: transform 0.5s ease;
        &.on {
            transform: translateX(0%);
        }
        &.off {
            transform: translateX(110%);
        }
        &__head {
            position: relative;
            margin-bottom: 38px;
        }
        &__title {
            font-size: 24px;
            line-height: 31px;
            font-weight: 700;
        }
        .close {
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &__list {
            display: flex;
            flex-direction: column;
            margin-bottom: 54px;
        }
        &__location {
            margin-bottom: 21px;
            min-height: auto;
            display: flex;
        }
        &__com {
            display: flex;
        }
    }
    .menu {
        display: none;
        &__item {
            font-family: $nunito;
            font-size: 24px;
            line-height: 33px;
            font-weight: 600;
            & + & {
                padding-top: 28px;
                padding-left: 0;
            }
            a {
                &::before {
                    display: none;
                }
                &:hover {
                    color: $darkBlue;
                }
            }
        }
    }
    .main-content {
        position: relative;
        display: flex;
        flex-direction: column;
        &__title {
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 280px;
            max-width: 390px;
            order: 0;
        }
        &__text {
            display: none;
        }
        &__list {
            order: 2;
            margin-bottom: 0;
        }
        &__btn {
            padding: 15px 43px;
        }
        &__btns {
            order: 1;
            margin-bottom: 55px;
        }
    }
    .services {
        margin-bottom: 100px;
        &__row {
            &-main {
                .services__item {
                    &-price {
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }
            &-secondary {
                .services__item {
                    &-price {
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
    .projects {
        &__title {
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 40px;
        }
        &__content {
            padding: 0;
            max-width: 300px;
            width: 100%;
        }
    }
    .parsing {
        padding-top: 95px;
        &__title {
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 40px;
        }
    }
    .gallery {
        &__title {
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 40px;
        }
        &__inner {
            margin-bottom: 30px;
            grid-template-columns: repeat(auto-fill, minmax(165px, 165px));
        }
        &__container{
            max-width: 720px;
        }
        .gallery__item {
            width: 165px;
            height: 93px;
        }
    }
    .process__title {
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 40px;
    }
    .reviews {
        padding-top: 20px;
        &__inner {
            padding-top: 5px;
            height: 260px;
        }
        &__title {
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 40px;
        }
        &__item {
            max-width: 480px;
            padding: 20px 0 10px;
            &-name {
                font-size: 18px;
                line-height: 23px;
                max-width: 360px;
                margin-bottom: 15px;
            }
            &-media {
                max-width: 350px;
                img {
                    height: 180px;
                }
            }
        }
        .slick-arrow {
            top: 100px;
        }
    }
    .sales {
        padding-top: 160px;
        &__item {
            padding: 32px 40px 36px 45px;
            max-width: 520px;
            &-name {
                font-size: 18px;
                line-height: 23px;
            }
            &-descr {
                font-size: 14px;
                line-height: 19px;
                max-width: 180px;
            }
            &-btn {
                font-size: 14px;
                line-height: 19px;
                padding: 8px 45px;
            }
        }
    }
    .progress {
        padding-top: 90px;
        &__title {
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 40px;
        }
        &__item {
            padding-left: 45px;
            &::before {
                width: 25px;
                height: 25px;
            }
            &-date {
                font-size: 21px;
                line-height: 27px;
            }
        }
    }
    .bottom-wrapper {
        padding-bottom: 0;
        background-size: auto;
        background-position: top center;
    }
    .contacts {
        .container {
            padding: 0;
        }
        padding-top: 70px;
        &__inner {
            padding-top: 477px;
            padding-bottom: 0;
        }
        &__content {
            position: relative;
            z-index: 1;
            &-wrapper {
                left: 50%;
                transform: translateX(-50%);
                &::before {
                    z-index: 0;
                }
            }
        }
        iframe {
            height: 435px;
        }
    }
    .footer {
        padding: 34px 0 26px;
    }
    .modal{
        &__inner{
            min-height: 454px;
            padding: 49px 30px 16px;
            max-width: 335px;
        }
        &__text{
            margin-bottom: 14px;
        }
        &__form{
            margin-bottom: 13px;
        }
        &__descr{
            font-size: 10px;
            line-height: 14px;
            max-width: 245px;
        }
        .close{
            top: 18px;
            right: 18px;
        }
    }
}

@media (max-width: 749px) {
    .projects {
        &__inner {
            max-width: 335px;
            margin: 0 auto;
            align-items: center;
        }
        &__box {
            &::before {
                max-width: 375px;
                min-height: 179px;
                transform: translateX(-50%);
                top: auto;
                bottom: -16px;
            }
        }
        .slick-arrow {
            width: 33px;
            position: absolute;
            height: 33px;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            img {
                position: absolute;
            }
            background: #ffffff;
            box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
        }
        &-prev {
            left: 0;
            img {
                top: 5px;
                transform: rotate(180deg);
                right: 10px;
            }
        }
        &-next {
            right: 0;
            img {
                top: 8px;
                left: 10px;
            }
        }
    }
}

@media (max-width: 740px) {
    .process {
        &__img {
            &-2 {
                height: 245px;
                bottom: 85px;
            }
        }
    }
    .sales {
        &-prev {
            left: 38%;
        }
        &-next {
            right: 38%;
        }
    }
}

@media (max-width: 719px) {
    .gallery {
        &__container{
            max-width: 545px;
        }
    }
}

@media (max-width: 709px) {
    .services {
        &__inner {
            &::before {
                display: none;
            }
        }
        &__row {
            &-main {
                flex-direction: column;
                align-items: center;
                .services__item-wrapper + .services__item-wrapper {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
            &-secondary {
                flex-direction: column;
                align-items: center;
                .services__item-wrapper + .services__item-wrapper {
                    margin-left: 0;
                }
            }
        }
        &__item {
            &-wrapper {
                &::before {
                    content: "";
                    position: absolute;
                    width: 375px;
                    height: 201px;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #e4e4e4;
                    filter: blur(80px);
                    border-radius: 20px;
                    z-index: -1;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .main {
        &::before {
            top: 120px;
        }
    }
}

@media (max-width: 660px) {
    .reviews {
        &-prev {
            img {
                right: 12px;
                top: 10px;
            }
        }
        &-next {
            img {
                top: 10px;
                left: 12px;
            }
        }
        .slick-arrow {
            width: 35px;
            height: 35px;
            img {
                width: 14px;
            }
        }
    }
}

@media (max-width: 641px) {
    .process {
        &__item {
            &-wrapper {
                margin-bottom: 20px;
                margin-right: 0;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 375px;
                    height: 200px;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #e4e4e4;
                    filter: blur(80px);
                    border-radius: 20px;
                    z-index: -1;
                    // display: none;
                }
            }
        }
        &__inner {
            margin-bottom: 184px;
            align-items: center;
            flex-direction: column;
            &::before {
                display: none;
            }
        }
        &__img {
            &-1 {
                height: 240px;
                left: -118px;
            }
            &-2 {
                bottom: 242px;
            }
        }
    }
}

@media (max-width: 615px) {
    .reviews {
        &__inner {
            height: 185px;
        }
        &__item {
            max-width: 330px;
            &::before {
                top: 10px;
            }
            &-name {
                font-size: 14px;
                line-height: 19px;
                max-width: 280px;
                margin-bottom: 10px;
            }
            &-media {
                max-width: 250px;
                img {
                    height: 120px;
                }
            }
            &-circle {
                width: 60px;
                height: 60px;
                &::before {
                    width: 45px;
                    height: 45px;
                }
                &::after {
                    width: 14px;
                    height: 16px;
                }
            }
        }
        &-prev {
            img {
                top: 9px;
                right: 11px;
            }
        }
        &-next {
            img {
                top: 9px;
                left: 11px;
            }
        }
        .slick-arrow {
            width: 30px;
            top: 75px;
            img {
                width: 11px;
            }
            height: 30px;
        }
    }
}

@media (max-width: 600px) {
    .process {
        &__img-1 {
            left: -148px;
        }
    }
    .sales {
        .container {
            padding: 0;
        }
        padding-top: 70px;
        &__item {
            max-width: 335px;
            padding: 20px 28px 24px 31px;
            &-wrapper {
                padding-top: 30px;
                padding-bottom: 33px;
            }
            &-name {
                font-size: 14px;
                line-height: 19px;
            }
            &-descr {
                font-size: 10px;
                line-height: 14px;
                max-width: 130px;
            }
            &-btn {
                font-size: 12px;
                line-height: 16px;
                padding: 2px 24px;
            }
        }
        &-prev {
            left: 41%;
            img {
                right: 5px;
                transform: translateY(-50%);
            }
        }
        &-next {
            img {
                left: 5px;
            }
            right: 41%;
        }
        .slick-arrow {
            width: 16px;
            height: 16px;
        }
        &-dots {
            bottom: -2px;
            button {
                width: 5px;
                height: 5px;
            }
            li + li {
                padding-left: 6px;
            }
        }
    }
}

@media (max-width: 580px) {
    .services {
        &__list {
            flex-direction: column;
            align-items: center;
            &-item {
                margin-bottom: 19px;
            }
        }
    }
}

@media (max-width: 565px) {
    .main {
        &::before {
            top: 140px;
        }
    }
    .main-content__title {
        margin-bottom: 230px;
    }
}

@media (max-width: 545px) {
    .parsing__item {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 544px) {
    .gallery {
        &__container{
            max-width: 370px;
        }
    }
}

@media (max-width: 500px) {
    .main {
        background-position: center 38%;
        .container {
            max-width: 330px;
        }
        &::before {
            top: 16%;
        }
    }
    .header {
        padding-top: 55px;
        .logo img {
            width: 89px;
        }
        margin-bottom: 41px;
    }
    .main-content {
        align-items: center;
        &__title {
            font-size: 18px;
            line-height: 23px;
            max-width: 290px;
            margin-bottom: 210px;
        }
        &__btns {
            flex-direction: column;
            align-items: center;
            margin-bottom: 54px;
        }
        &__btn-wrapper {
            margin-bottom: 34px;
        }
        &__list {
            flex-direction: column;
            align-items: flex-start;
        }
        &__item {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 19px;
        }
        &__messengers {
            margin-left: 0;
        }
    }
    .services {
        margin-bottom: 70px;
        &__inner {
            margin-bottom: 10px;
        }
        &__row {
            &-main {
                .services__item {
                    &-name {
                        margin-bottom: 35px;
                    }
                    &-price {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
            &-secondary {
                .services__item {
                    &-name {
                        margin-bottom: 35px;
                    }
                    &-price {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
        &__list {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 13px;
            &-item {
                max-width: 223px;
            }
        }
        &__memo {
            padding: 12px 11px;
            max-width: 335px;
            font-size: 12px;
            line-height: 16px;
        }
    }
    .projects {
        &__title {
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 30px;
        }
    }
    .parsing {
        padding-top: 70px;
        &__title {
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 23px;
        }
        &__item {
            &-text {
                font-size: 12px;
                line-height: 16px;
            }
            &-images {
                img {
                    max-width: 100%;
                    width: 335px;
                    height: 220px;
                }
            }
            &-main {
                margin-bottom: 8px;
            }
        }
        .gallery__item img {
            width: 51px;
            height: 39px;
        }
        .gallery__item + .gallery__item {
            margin-left: 8px;
        }
        &-dots {
            button {
                font-size: 14px;
                line-height: 19px;
                width: 35px;
                height: 35px;
            }
        }
    }
    .gallery {
        &__title {
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 23px;
        }
        &__container{
            max-width: 365px;
        }
        &__inner {
            margin-bottom: 25px;
            gap: 5px;
        }
    }
    .process {
        margin-top: 20px;
        &__title {
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 30px;
        }
    }
    .reviews {
        padding-top: 0;
        &__title {
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 30px;
        }
        &__inner {
            height: 126px;
            padding-top: 0;
        }
        &__item {
            max-width: 250px;
            padding-top: 14px;
            padding: 9px 15px 6px;
            border-radius: 10px;
            &::before {
                top: 5px;
            }
            &-name {
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 5px;
            }
            &-media {
                max-width: 200px;
                img {
                    height: 100px;
                }
            }
            &-circle {
                width: 40.73px;
                height: 40.73px;
                &::before {
                    width: 33.33px;
                    height: 33.33px;
                }
                &::after {
                    width: 11px;
                    height: 11px;
                }
            }
        }
        &-prev {
            img {
                top: 6px;
                right: 8px;
            }
        }
        &-next {
            img {
                top: 6px;
                left: 8px;
            }
        }
        .slick-arrow {
            width: 22px;
            height: 22px;
            top: 55px;
            img {
                width: 8px;
            }
        }
    }
    .progress {
        padding-top: 70px;
        &__title {
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 30px;
        }
        &__inner {
            max-width: 365px;
        }
        &__item {
            padding-left: 40px;
            max-width: 335px;
            &::before {
                width: 20px;
                height: 20px;
            }
            &-date {
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 7px;
            }
            &-descr {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .bottom-wrapper {
        background-size: auto 579px;
    }
    .contacts {
        padding-top: 46px;
        &__content {
            &-wrapper {
                max-width: 345px;
                padding: 0 5px;
                &::before {
                    width: 89%;
                }
            }
            padding: 31px 34px 33px 45px;
        }
        &__info {
            padding-left: 17px;
        }
        &__btn {
            width: auto;
            padding: 16px 52px;
        }
    }
    .footer {
        .container{
            max-width: 355px;
            padding: 0 10px;
        }
        &__inner{
            padding-bottom: 66px;
        }
        .logo {
            img {
                width: 89px;
            }
        }
        &__messengers{
            display: flex;
        }
        .messenger {
            display: flex;
            &:nth-child(1){
                img { 
                    width: 34px;
                }
            }
            &:nth-child(2){
                img{
                    width: 32px;
                    height: 34px;
                } 
            }
            &:nth-child(3){
                img{
                    height: 33.79px;
                    width: 33.79px;
                }
            }
        }
        .messenger + .messenger{
            margin-left: 29px;
        }
        &__content{
            font-size: 10px;
            line-height: 12px;
        }
    }
}

@media (max-width: 400px) {
    .main {
        &::before {
            top: 17%;
        }
    }
    .sales {
        &-prev {
            left: 39%;
        }
        &-next {
            right: 39%;
        }
    }
}

@media (max-width: 380px) {
    .main {
        background-image: url(../img/main-mobile.png);
        background-position: center 24%;
        &::before {
            display: none;
        }
    }
    .main-content__title {
        margin-bottom: 323px;
    }
}

@media (max-width: 350px) {
    .projects {
        &-prev {
            left: -9px;
        }
        &-next {
            right: -9px;
        }
    }
    .reviews {
        &-prev {
            left: -8px;
        }
        &-next {
            right: -8px;
        }
    }
    .sales {
        .container {
            padding: 0 5px;
        }
        &__item {
            box-shadow: none;
        }
    }
}

@media (max-width: 344px) {
    .contacts {
        &__info {
            padding-left: 0;
        }
        &__btn {
            padding: 12px 41px;
        }
    }
}

@media (max-width: 335px){
    .modal__inner{
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 327px) {
    .contacts__content {
        padding-right: 26px;
    }
}

@media (max-height: 454px){
    .modal{
        max-height: 100%;
        overflow-y: auto;
        align-items: flex-start;
    }
}

@media (min-width: 769px) {
    .mobile-menu {
        display: none !important;
    }
}
