@import "libs";
@import "vars";
@import "fonts";
@import "global";

.main {
  padding-bottom: 261px;
  background-image: url(../img/main-bg.png);
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  margin-bottom: 61px;
  &__location {
    display: flex;
    flex-direction: column;
    padding-left: 33px;
    min-height: 80px;
    position: relative;
    &-city {
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
    }
    &-street {
      font-weight: 500;
      line-height: 18px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 13px;
      height: 17px;
      background-image: url(../img/location.png);
    }
  }
  &__com {
    display: flex;
    flex-direction: column;
    padding-left: 33px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 17px;
      height: 17px;
      background-image: url(../img/phone.png);
    }
    &-phone {
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
    }
    &-email {
      font-weight: 500;
      line-height: 18px;
    }
  }
  &__menu {
    &-btn {
      display: none;
    }
  }
}
.mobile-menu {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  font-family: $nunito;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 107px;
  &.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    z-index: 10;
    margin-bottom: 0;
    width: 100%;
    padding: 15px;
  }
  &__item {
    & + & {
      padding-left: 85px;
    }
  }
  a {
    position: relative;
    &:hover::before {
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      background: $blue;
      transition: all 0.4s ease;
      width: 0;
      bottom: 0;
    }
  }
}
.main-content {
  &__title {
    max-width: 590px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 19px;
  }
  &__text {
    max-width: 455px;
    font-size: 24px;
    line-height: 31px;
    font-weight: 500;
    margin-bottom: 65px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 562px;
    margin-bottom: 33px;
  }
  &__item {
    font-family: $nunito;
    font-size: 18px;
    line-height: 25px;
    padding-left: 40px;
    font-weight: 600;
    position: relative;
    margin-bottom: 28px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid $blue;
      box-shadow: 0px 0px 5px $blue, inset 0px 0px 5px $blue;
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    .messenger + .messenger {
      margin-left: 24px;
    }
  }
  &__messengers {
    margin-left: 41px;
  }
}

.first-wrapper {
  background-image: url(../img/left-tree.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 21% auto;
}

.services {
  margin-bottom: 132px;
  &__inner {
    position: relative;
    margin-bottom: 60px;
    &::before {
      content: "";
      position: absolute;
      background: #e4e4e4;
      filter: blur(80px);
      border-radius: 20px;
      bottom: -18px;
      left: 50%;
      z-index: -1;
      width: 1100px;
      height: 360px;
      transform: translateX(-50%);
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    &-main {
      margin-bottom: 30px;
      .services__item {
        &-wrapper {
          max-width: 505px;
          width: 100%;
        }
        width: 100%;
        min-height: 272px;
        padding: 56px 0 0 55px;
        &-name {
          font-size: 24px;
          line-height: 31px;
          margin-bottom: 53px;
          max-width: 135px;
        }
      }
    }
    &-secondary {
      .services__item {
        &-wrapper {
          max-width: 325px;
        }
        min-height: 176px;
        padding: 38px 0 0 53px;
        &-name {
          max-width: 143px;
          font-size: 18px;
          line-height: 23px;
          margin-bottom: 28px;
        }
      }
    }
  }
  &__item {
    &-wrapper {
      width: 100%;
      position: relative;
    }
    transform: translateY(0);
    transition: transform 0.2s ease;
    position: relative;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    background: #fff;
    &:hover {
      transform: translateY(-5px);
    }
    &-name {
      font-weight: 700;
    }
    &-price {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      font-family: $nunito;
      span {
        color: $blue;
      }
    }
    &-img {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: $nunito;
    font-size: 18px;
    max-width: 740px;
    margin: 0 auto;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 19px;
    &-item {
      position: relative;
      padding-left: 40px;
      max-width: 315px;
      width: 100%;
      margin-bottom: 21px;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid $blue;
        border-radius: 50%;
        box-shadow: 0px 0px 5px $blue, inset 0px 0px 5px $blue;
      }
    }
  }
  &__memo {
    text-align: center;
    max-width: 423px;
    margin: 0 auto;
    border: 2px solid #3a99e7;
    border-radius: 34px;
    padding: 7px 33px;
    font-family: $nunito;
    font-weight: 700;
    color: #3a99e7;
  }
}

.projects {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 55px;
  }
  &__select {
    display: none;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 11px 0;
    border-left: 2px solid $blue;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    &-item {
      padding-left: 21px;
      position: relative;
      &:nth-child(1) a {
        border-top: 1px solid #e2e2e2;
      }
      a {
        width: 100%;
        padding: 9px 0;
        border-bottom: 1px solid #e2e2e2;
      }
      &.active {
        &::before {
          content: "";
          position: absolute;
          left: -7px;
          top: 50%;
          transform: translateY(-50%);
          background: linear-gradient(180deg, #3a99e7 0%, #0070b1 99.66%);
          box-shadow: 0px 0px 5px #3a99e7;
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
        a {
          color: $blue;
        }
      }
      &:hover a {
        color: $blue;
      }
      & + & {
        a {
          border-top: none;
        }
      }
    }
  }
  &__btn-wrapper {
    max-width: 244px;
    z-index: 1;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    max-width: 715px;
    width: 100%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 774px;
      width: 100%;
      min-height: 233px;
      z-index: -1;
      background: #e4e4e4;
      filter: blur(80px);
      border-radius: 20px;
    }
  }
  &__item {
    width: 225px;
    margin: 0 auto;
    max-height: 402px;
    background: #ffffff;
    &.prestige {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 22px;
        width: 33px;
        height: 40px;
        background: linear-gradient(145.71deg, #ff8049 0%, #ff4d00 100%);
        border-radius: 0px 0px 5px 5px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 30px;
        width: 16px;
        height: 15px;
        background-image: url(../img/star.png);
        background-position: center;
      }
    }
    &-img img {
      height: 146px;
      width: 225px;
      object-fit: cover;
    }
    &-content {
      padding: 11px 15px 19px;
    }
    &-name {
      line-height: 18px;
      font-weight: 700;
      min-height: 82px;
      padding-bottom: 5px;
    }
    &-characters {
      font-family: $nunito;
      margin-bottom: 43px;
    }
    &-character {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    &-price {
      text-align: right;
      font-size: 18px;
      line-height: 23px;
      font-weight: 700;
      margin-bottom: 3px;
    }
    &-time {
      line-height: 18px;
      font-weight: 700;
      color: #ff4d00;
      text-align: right;
      span {
        padding-left: 17px;
        position: relative;
      }
      span::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-image: url(../img/clock.png);
      }
    }
  }
}

.parsing {
  padding-top: 115px;
  &__title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 60px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    &-wrapper {
      position: relative;
    }
    &-images {
      max-width: 100%;
    }
    &-content {
      max-width: 503px;
    }
    &-title {
      font-size: 18px;
      line-height: 23px;
      font-weight: 700;
      padding-left: 35px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid #3a99e7;
        box-shadow: 0px 0px 5px #3a99e7, inset 0px 0px 5px $blue;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
    &-text {
      font-family: $nunito;
      font-weight: 300;
    }
    &-location {
      margin-bottom: 22px;
      .parsing__item-title {
        margin-bottom: 18px;
      }
    }
    &-descr {
      margin-bottom: 50px;
      .parsing__item-title {
        margin-bottom: 16px;
      }
    }
    &-price {
      font-size: 36px;
      line-height: 46px;
      font-weight: 700;
      text-align: right;
      margin-bottom: 3px;
    }
    &-time {
      font-size: 18px;
      line-height: 23px;
      font-weight: 700;
      color: #ff4d00;
      text-align: right;
      span {
        padding-left: 17px;
        position: relative;
      }
      span::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-image: url(../img/clock.png);
      }
    }
    &-main {
      margin-bottom: 11px;
      img {
        width: 503px;
        height: 330px;
        object-fit: cover;
      }
    }
    &-gallery {
      display: flex;
    }
    .gallery__item {
      display: flex;
      cursor: pointer;
      position: relative;
      &.active {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(58, 153, 231, 0.5) 0%,
            rgba(0, 112, 177, 0.5) 99.66%
          );
          z-index: 2;
        }
      }
      img {
        width: 77px;
        height: 59px;
        object-fit: cover;
      }
    }
    .gallery__item + .gallery__item {
      margin-left: 11px;
    }
  }
  &-dots {
    position: absolute;
    top: 0;
    right: 0;
    li + li {
      margin-left: 11px;
    }
    .slick-active {
      button {
        background: linear-gradient(180deg, #3a99e7 0%, #0070b1 99.66%);
        box-shadow: 0px 0px 10px #3a99e7;
        border: none;
        span {
          background: #fff;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &::before {
          display: none;
        }
      }
    }
    button {
      font-size: 24px;
      line-height: 33px;
      width: 53px;
      height: 54px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $nunito;
      font-weight: 600;
      background: #fff;
      background-clip: padding-box;
      border: solid 2px transparent; /* !importanté */
      position: relative;
      border-radius: 50%;
      span {
        background: linear-gradient(180deg, #3a99e7 0%, #0070b1 99.66%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(180deg, #3a99e7 0%, #0070b1 99.66%);
      }
    }
  }
}

.second-wrapper {
  position: relative;
}

.right-tree {
  position: absolute;
  right: 0;
  top: 50%;
  max-width: 380px;
  width: calc(20% - 1px);
  transform: translateY(-50%);
  img {
    max-width: 100%;
  }
}

.gallery {
  padding-top: 110px;
  &__title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 60px;
  }
  &__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__inner {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(305px, 305px));
      justify-content: center;
      gap: 10px;
    margin-bottom: 50px;
  }
  &__more {
    display: none;
    &-item {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
  .gallery__item {
    width: 305px;
    height: 172px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(70, 167, 252, 0.67);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      background-image: url(../img/size.png);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    &:hover {
      &::after,
      &::before {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__btn {
    cursor: pointer;
    position: relative;
    z-index: 5;
    &:hover {
      img {
        animation: gallery 1s ease infinite;
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &-text {
      font-size: 18px;
      line-height: 25px;
      font-weight: 600;
      font-family: $nunito;
      margin-bottom: 13px;
    }
  }
}

.process {
  &__wrapper {
    padding-top: 120px;
    margin: 0 auto;
    margin-top: -48px;
    position: relative;
    padding-bottom: 60px;
  }
  &__container {
    max-width: 965px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      background-image: url(../img/process-bg.png);
      width: 1164px;
      height: 534px;
    }
  }
  &__item {
    width: 291px;
    min-height: 200px;
    padding: 12px;
    background: #ffffff;
    border-radius: 20px;
    &-wrapper {
      margin-bottom: 30px;
    }
    &-inner {
      border: 1px solid #dfdfdf;
      border-radius: 15px;
      padding: 4px 0 16px 28px;
      width: 100%;
      height: 100%;
    }
    &-number {
      font-weight: 200;
      font-size: 48px;
      line-height: 65px;
      color: #3a99e7;
      font-family: $nunito;
    }
    &-name {
      font-size: 18px;
      line-height: 23px;
      color: $darkBlue;
      max-width: 177px;
      margin-bottom: 17px;
    }
    &-descr {
      max-width: 220px;
      font-size: 12px;
      line-height: 16px;
      font-family: $nunito;
    }
  }
  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-or {
      font-size: 18px;
      line-height: 25px;
      color: #c4c4c4;
      font-family: $nunito;
      position: relative;
      padding: 23px 0;
      margin-bottom: 11px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 21px;
        background: #c4c4c4;
      }
      &::after {
        bottom: 0;
      }
      &::before {
        top: 0;
      }
    }
  }
  &__btn {
    &-wrapper {
      margin-bottom: 18px;
      z-index: 2;
    }
    padding-left: 51px;
    padding-right: 51px;
  }
  &__phone {
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    font-family: $nunito;
    font-weight: 700;
    color: #004d7a;
  }
  &__img {
    position: absolute;
    img {
      max-width: 100%;
      height: auto;
    }
    &-1 {
      left: 9%;
      top: 0;
      z-index: -2;
    }
    &-2 {
      bottom: 0;
      right: 2%;
    }
  }
}

.reviews {
  padding-top: 60px;
  &__title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
  }
  &__inner {
    background: linear-gradient(180deg, #3a99e7 0%, #0070b1 99.66%);
    height: 340px;
    padding-top: 17px;
  }
  &__item {
    background: #ffffff;
    max-width: 670px;
    width: 100%;
    padding: 30px 0 15px;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 92%;
      background: #ffffff;
      box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      left: 50%;
      transform: translateX(-50%);
      top: 15px;
      z-index: -1;
    }
    &-wrapper {
      padding-top: 20px;
      padding-bottom: 40px;
    }
    &-name {
      max-width: 480px;
      font-size: 24px;
      line-height: 31px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 30px;
    }
    &-media {
      max-width: 530px;
      width: 100%;
      max-height: 262px;
      position: relative;
      border-radius: 15px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(58, 153, 231, 0.4);
        border-radius: inherit;
        z-index: 1;
      }
      img {
        width: 100%;
        height: 262px;
        object-fit: cover;
        border-radius: inherit;
      }
    }
    &-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background: #ffffff;
      z-index: 2;
      &:hover {
        &::before {
          width: calc(100% + 1px);
          height: calc(100% + 1px);
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(180deg, #3a99e7 0%, #0070b1 99.66%);
        box-shadow: 0px 0px 5px #3a99e7;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        z-index: 3;
        transition: all 0.3s ease;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(50% + 2px);
        transform: translate(-50%, -50%);
        z-index: 4;
        background-image: url(../img/play.png);
        background-size: contain;
        width: 28px;
        height: 31px;
        transition: all 0.1s ease;
      }
    }
  }
  &-prev,
  &-next {
    position: absolute;
    border-radius: 50%;
    z-index: 5;
    background: #ffffff;
    width: 61px;
    height: 61px;
    top: 120px;
    img {
      position: absolute;
      top: 17px;
    }
  }
  &-prev {
    left: 0;
    img {
      right: 22px;
    }
  }
  &-next {
    right: 0;
    img {
      left: 22px;
    }
  }
}

.bottom-wrapper {
  background-image: url(../img/bottom-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 144px;
}

.sales {
  padding-top: 216px;
  &__item {
    max-width: 610px;
    width: 100%;
    background: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $nunito;
    padding: 42px 69px 43px 56px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    &-wrapper {
      padding-bottom: 60px;
      padding-top: 15px;
    }
    &-name {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #3a99e7;
    }
    &-descr {
      max-width: 231px;
      width: 100%;
      font-size: 18px;
      line-height: 25px;
    }
    &-btn {
      padding: 8px 53px;
    }
  }
  &-prev,
  &-next {
    position: absolute;
    bottom: 0;
    border: 1px solid #3a99e7;
    background: transparent;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    display: flex;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-prev {
    left: 42%;
    img {
      transform: rotate(180deg) translateY(50%);
      right: 10px;
    }
  }
  &-next {
    right: 42%;
    img {
      left: 10px;
    }
  }
  .slick-arrow {
    z-index: 2;
  }
  &-dots {
    position: absolute;
    left: 50%;
    font-size: 0;
    transform: translateX(-50%);
    bottom: 4px;
    li + li {
      padding-left: 10px;
    }
    button {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: #c4c4c4;
    }
    .slick-active button {
      background: linear-gradient(180deg, #3a99e7 0%, #0070b1 99.66%);
    }
  }
}

.progress {
  padding-top: 110px;
  &__title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 55px;
  }
  &__inner {
    padding: 0 15px;
  }
  &__row {
    display: flex;
    justify-content: center;
    .progress__item + .progress__item {
      margin-left: 120px;
    }
    &-full {
      margin-bottom: 60px;
      .progress__item + .progress__item {
        margin-left: 80px;
      }
    }
  }
  &__item {
    max-width: 441px;
    font-family: $nunito;
    position: relative;
    padding-left: 50px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      border: 2px solid #3a99e7;
      box-shadow: 0px 0px 5px #3a99e7, inset 0px 0px 5px $blue;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    &-date {
      font-size: 24px;
      line-height: 33px;
      font-weight: 700;
    }
    &-descr {
      font-weight: 600;
    }
  }
}

.contacts {
  .container {
    padding: 0;
    padding-left: 15px;
    max-width: 1045px;
  }
  &__inner {
    padding-top: 50px;
    position: relative;
    padding-bottom: 51px;
  }
  &__content {
    background: #ffffff;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 100%;
    padding: 33px 58px 33px 58px;
    &-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 370px;
      width: 100%;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 14px;
        height: 100%;
        width: 93%;
        background: #ffffff;
        box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        z-index: -1;
      }
    }
  }
  &__info {
    padding-left: 13px;
  }
  &__title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    margin-bottom: 22px;
  }
  &__location {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
    &::before {
      content: "";
      position: absolute;
      left: -32px;
      top: 4px;
      width: 13px;
      height: 17px;
      background-image: url(../img/location.png);
    }
    &-city {
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
    }
    &-street {
      font-weight: 500;
      line-height: 18px;
    }
  }
  &__com {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
    &::before {
      content: "";
      position: absolute;
      left: -35px;
      top: 7px;
      width: 17px;
      height: 17px;
      background-image: url(../img/phone.png);
    }
    &-phone {
      font-size: 24px;
      line-height: 31px;
      font-weight: 700;
    }
    &-email {
      margin-top: 3px;
      line-height: 18px;
      font-weight: 500;
    }
  }
  &__work {
    margin-bottom: 27px;
    &-title {
      line-height: 18px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    &-item {
      font-size: 18px;
      line-height: 23px;
      font-weight: 600;
    }
  }
  &__quest {
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  &__btn {
    &-wrapper {
      width: 100%;
    }
    width: 100%;
    text-align: center;
  }
}

.footer {
  padding-top: 27px;
  padding-bottom: 24px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    font-size: 12px;
    line-height: 15px;
    font-family: "Montserrat", sans-serif;
    max-width: 405px;
  }
  .messenger + .messenger {
    margin-left: 31px;
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  transition: opacity 0.3s;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  background: rgba(70, 167, 252, 0.67);
  &.on {
    opacity: 1;
  }
  &.off {
    opacity: 0;
  }
  &__inner {
    max-width: 370px;
    min-height: 500px;
    background: #ffffff;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: relative;
    padding: 49px 47px 38px;
    &.thanks {
      background-image: url(../img/thanks-bg.png);
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
  &__content {
    opacity: 1;
    transition: opacity 0.3s ease;
    &.off {
      opacity: 0;
    }
  }
  .close {
    top: 20px;
    right: 20px;
  }
  &__title {
    font-weight: 500;
    line-height: 31px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 14px;
  }
  &__text {
    font-family: $nunito;
    font-weight: 300;
    text-align: center;
    margin-bottom: 26px;
  }
  &__form {
    margin-bottom: 21px;
  }
  .input-wrapper {
    width: 100%;
    position: relative;
    &.success {
      input {
        border: 1px solid #63e03d;
      }
    }
    &.error {
      input {
        border: 1px solid #f74545;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 24px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-size: contain;
    }
  }
  input {
    background: #f1f1f1;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
    width: 100%;
    border: 1px solid transparent;
    padding: 20px 20px 21px 59px;
    font-family: $nunito;
    outline: none;
    color: #9c9c9c;
  }
  input::placeholder {
    font-family: $nunito;
    font-size: 14px;
    line-height: 19px;
    color: #9c9c9c;
  }
  .input-name {
    margin-bottom: 10px;
    &::before {
      background-image: url(../img/human.png);
    }
  }
  .input-phone {
    &::before {
      background-image: url(../img/grey-phone.png);
    }
    margin-bottom: 27px;
  }
  &__btn {
    &-wrapper {
      width: 100%;
    }
    width: 100%;
    text-align: center;
  }
  &__descr {
    font-size: 12px;
    line-height: 16px;
    font-family: $nunito;
    text-align: center;
  }
  .messengers {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .messenger + .messenger {
    margin-left: 24px;
  }
}

.thanks {
  &__text {
    margin-bottom: 20px;
  }
}


@import "media";
